@import "tailwindcss";

/* Hide scrollbar */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE & Edge */
  scrollbar-width: none;    /* Firefox */
}

/* Pause animation on hover */
.pause-hover:hover {
  animation-play-state: paused;
}